# Python Data structures

# 1.Lists

#### **Definition**: A List is an **Ordered, mutable collection** in python. 
- Allows Duplicates

- Elements can be of mixed data types
      
- Supports indexing(+ve & -ve)

## Creating Lists

In [1]:
nums = [10,20,30]
fruits = ["mango", "apple", "banana"]
mixed = [1, "two", 3.0, [4,5]]
print("Numbers:", nums)
print("fruits:", fruits)
print("Mixed:", mixed)

Numbers: [10, 20, 30]
fruits: ['mango', 'apple', 'banana']
Mixed: [1, 'two', 3.0, [4, 5]]

In [2]:
nums1 = [30,10,20] # List preserve order
print(nums1)

nums2 = [34,65,34,65]  # Duplicates Allowed
print(nums2)

[30, 10, 20]
[34, 65, 34, 65]

## List Metods
- len()
- note: len() is a function not a method.

In [3]:
fruits = ["mango", "apple", "banana"]
print("Length of fruits:", len(fruits))

Length of fruits: 3

In [7]:
# append()
nums = [10, 20,]
nums.append(30)  # this is method not a func
print("after append:", nums)

after append: [10, 20, 30]

In [8]:
# extend()
nums = [10, 20]
nums.extend([3,4,5])
print("after extend:", nums)

after extend: [10, 20, 3, 4, 5]

In [10]:
# remove(value to be removed)
nums = [1,2,2,3]
nums.remove(2)
print("After Remove:", nums)

After Remove: [1, 2, 3]

In [14]:
# pop(index of the value to remove) 
nums = [10,20,30,40]
last = nums.pop()
second = nums.pop(1)
print("popped last:", last)
print("popped index 1:", second)
print("List now:", nums)

popped last: 40
popped index 1: 20
List now: [10, 30]

In [15]:
# clear()
nums = [1,2,3]
nums.clear()
print("After Clear:", nums)

After Clear: []

In [16]:
# index()
letters = ['a','b','c','b']
print("Index of 'b':", letters.index('b'))

Index of 'b': 1

In [18]:
# count()
letters = ['a','b','b','c','b']
print("Count of 'b':", letters.count('b'))

Count of 'b': 3

In [19]:
# sort()
nums = [5, 2, 9, 2]
nums.sort()
print("Sorted:", nums)

Sorted: [2, 2, 5, 9]

In [2]:
# sort()
nums = ["b","a"]
nums.sort()
print("Sorted:", nums)

Sorted: ['a', 'b']

In [23]:
# sort(reverse)
nums = [5, 2, 9, 2]
nums.sort(reverse=True)
print("Sorted:", nums)

Sorted: [9, 5, 2, 2]

In [24]:
# reverse()
nums = [78, 56, 89]
nums.reverse()
print("After reverse:", nums)

After reverse: [89, 56, 78]

In [27]:
# Slicing
nums = [10, 20, 30, 40, 50]
print("nums[1:4] =", nums[1:4])
print("nums[:3] =", nums[:3])
print("nums[::2] =", nums[::2])
print("nums[::-1] =", nums[::-1])

nums[1:4] = [20, 30, 40]
nums[:3] = [10, 20, 30]
nums[::2] = [10, 30, 50]
nums[::-1] = [50, 40, 30, 20, 10]

In [28]:
# Concatenation & Repetition
print([1,2] + [3,4])
print([1,2] * 3)

[1, 2, 3, 4]
[1, 2, 1, 2, 1, 2]

# 2. Tuples

In [3]:
# Creating Tuples
t = (10, 20, 30)
single = (42,)
print("Tuple:", t)
print("Single element tuple:", single)

Tuple: (10, 20, 30)
Single element tuple: (42,)

In [7]:
# Creating Tuples
t = (10, 20, 30)
single = (42,)   
t1 = (42)               # this is an iteger not a tuple 
print("Tuple:", t)
print(t1)
print(type(t1))
print("Single element tuple:", single)
print(type(single))

Tuple: (10, 20, 30)
42
<class 'int'>
Single element tuple: (42,)
<class 'tuple'>

In [8]:
t2 = 10,20,30
print(t2)
print(type(t2))

(10, 20, 30)
<class 'tuple'>

In [9]:
single[0] = 5
print(single)

TypeError: 'tuple' object does not support item assignment

### Tuple Methods

In [1]:
# len()
# Note: len() is a function, not a method
t = (10,20,30)
print("Length:", len(t))

Length: 3

In [2]:
# tuple.count()
t = (1,2,1,3,1)
print("Count of 1:", t.count(1))

Count of 1: 3

In [3]:
# tuple.index()
t = (10,20,30,20)
print("Index of 20:", t.index(20))

Index of 20: 1

In [4]:
# Indexing & Slicing
t = ('a','b','c','d')
print("t[0] =", t[0])
print("t[-1] =", t[-1])
print("t[1:3] =", t[1:3])

t[0] = a
t[-1] = d
t[1:3] = ('b', 'c')

In [7]:
# Concatenation & Repetition
t1 = (1,2)
t2 = (3,4)
print("t1+t2:", t1+t2)
print("t1*3:", t1*3)
print(t1*2 + t2*3)

t1+t2: (1, 2, 3, 4)
t1*3: (1, 2, 1, 2, 1, 2)
(1, 2, 1, 2, 3, 4, 3, 4, 3, 4)

In [8]:
# Membership
t = (1,2,3)
print(2 in t)
print(5 in t)

True
False

# 3. Sets

### Create & Deduplicate

In [10]:
s = {1,2,3}
dedup = set([1,2,2,3,3])   # we can also make dedup as dedup = (1,2,2,3,3)  
print("s:", s)
print("dedup:", dedup)

s: {1, 2, 3}
dedup: {1, 2, 3}

### Set Methods

In [11]:
# len()
s = {1,1,2,3}
print("Size:", len(s))

Size: 3

In [3]:
# add()
s = {1,2}
s.add(3)
print("After add:", s)

After add: {1, 2, 3}

In [15]:
s = {1,2}
print(s)
print(id(s))

{1, 2}
2708684351616

In [7]:
s = {1,2}
print(s)
print(id(s))
s.add(3)
print("After add:", s)
print(id(s))

{1, 2}
2398907273216
After add: {1, 2, 3}
2398907273216

In [8]:
# update() : applied only for iterable data types.
# iterable data types = string, list, tuple, set, dict.
s = {1}
s.update([2,3], {4,5},(8,9))  
print("After update:", s)

After update: {1, 2, 3, 4, 5, 8, 9}

In [9]:
s = {1}
s.update(2)
print("After update:", s)

TypeError: 'int' object is not iterable

In [11]:
s.update("hello")
s

{1, 2, 3, 4, 5, 'e', 'h', 'l', 'o'}

In [4]:
# remove()
s = {1,2,3}
s.remove(2)
print("After remove:", s)

After remove: {1, 3}

In [6]:
# discard()
s = {1,2}
s.discard(2)
s.discard(99)
print("After discard:", s)

After discard: {1}

In [13]:
# pop()
s = {10,20,30}
removed = s.pop()
print("Removed:", removed)
print("Remaining:", s)

Removed: 10
Remaining: {20, 30}

In [15]:
# pop()
s = {40,20,30,50,90}
removed = s.pop()
print("Removed:", removed)
print("Remaining:", s)

Removed: 50
Remaining: {20, 40, 90, 30}

In [16]:
# clear()
s = {1,2,3}
s.clear()
print("After clear:", s)

After clear: set()

In [17]:
# union()
A, B = {1,2,3}, {3,4,5}
print("A.union(B):", A.union(B))

A.union(B): {1, 2, 3, 4, 5}

In [24]:
# intersection()
A, B = {1,2,3}, {2,3,4,5}
print("A.intersection(B):", A.intersection(B))

A.intersection(B): {2, 3}

In [23]:
# difference()
A, B = {1,2,3}, {2,3,4,5}
print("A.difference(B):", A.difference(B))
print(B.difference(A))

A.difference(B): {1}
{4, 5}

In [26]:
# symmetric_difference()
A, B = {1,2,3}, {2,3,4,}
print("A.symmetric_difference(B):", A.symmetric_difference(B))
print(B.symmetric_difference(A))

A.symmetric_difference(B): {1, 4}
{1, 4}

In [21]:
# issubset, issuperset, isdisjoint
A = {1,2}
B = {1,2,3}
C = {7,8}
print("A.issubset(B):", A.issubset(B))
print("B.issuperset(A):", B.issuperset(A))
print("A.isdisjoint(C):", A.isdisjoint(C))

A.issubset(B): True
B.issuperset(A): True
A.isdisjoint(C): True

# 4.Dictionaries

### Creating Dictionaries

In [1]:
person = {"name":"Pankaj", "role":"data scientist"}
pairs = dict([("x",1),("y",2)])
print("person:", person)
print("pairs:", pairs)

person: {'name': 'Pankaj', 'role': 'data scientist'}
pairs: {'x': 1, 'y': 2}

### Dictionary Methods

In [2]:
# len()
d = {"a":1, "b":2}
print("Length:", len(d))

Length: 2

In [10]:
# Access: [] vs get()
d = {"name":"Mayank", "age":28}
print("name:", d["name"])
print("salary with get:", d.get("salary"))

name: Mayank
salary with get: None

In [4]:
# Insert/Update
d = {}
d["lang"] = "Python"
d["year"] = 1991
print("After assignments:", d)

After assignments: {'lang': 'Python', 'year': 1991}

In [5]:
# update()
d = {"a":1, "b":2}
d.update({"b":20, "c":3})
print("After update:", d)

After update: {'a': 1, 'b': 20, 'c': 3}

In [12]:
# pop()
d = {"a":1, "b":2}
val = d.pop("a")
print("Popped a:", val, "| d now:", d)

Popped a: 1 | d now: {'b': 2}

In [7]:
# popitem()
d = {"x":1, "y":2, "z":3}
item = d.popitem()
print("Popped item:", item, "| d now:", d)

Popped item: ('z', 3) | d now: {'x': 1, 'y': 2}

In [8]:
# clear()
d = {"a":1}
d.clear()
print("After clear:", d)

After clear: {}

In [13]:
# keys(), values(), items()
d = {"name":"Nishi", "role":"Data Scientist"}
print("keys:", d.keys())
print("values:", list(d.values()))
print("items:", list(d.items()))

keys: dict_keys(['name', 'role'])
values: ['Nishi', 'Data Scientist']
items: [('name', 'Nishi'), ('role', 'Data Scientist')]