In [1]:
print("neeraj is in python batch")

neeraj is in python batch

In [2]:
print("Ayush is in ML batch")

Ayush is in ML batch

In [3]:
print("Nishi is in pthon batch")

Nishi is in pthon batch

In [4]:
print("Suraj is in ML batch")

Suraj is in ML batch

In [5]:
print("neeraj is in python batch")
print("Ayush is in ML batch")
print("Nishi is in pthon batch") 
print("Suraj is in ML batch")

neeraj is in python batch
Ayush is in ML batch
Nishi is in pthon batch
Suraj is in ML batch

In [6]:
print("neeraj and Nishi are in python batch")
print("Ayush and Suraj are in ML batch")

neeraj and Nishi are in python batch
Ayush and Suraj are in ML batch

In [7]:
print("Abdullah is in python batch")
print("Akhilesh is in ML batch")
print("Mayank is in python batch")
print("Shorya is in ML batch")
print("Priyanshu is in ML batch")

Abdullah is in python batch
Akhilesh is in ML batch
Mayank is in python batch
Shorya is in ML batch
Priyanshu is in ML batch

In [8]:
print("Abdullah and Mayank are in python batch")
print("Akhilesh, Shorya and Priyanshu are in ML batch")

Abdullah and Mayank are in python batch
Akhilesh, Shorya and Priyanshu are in ML batch

In [9]:
std1 = "Neeraj"
std2 = "Ayush"
std3 = "Nishi"
std4 = "Suraj"
std5 = "Suhail"
std6 = "Priyanshu"
std7 = "Himanshu"
std8 = "Akhilesh"

batch1 = "python batch"
batch2 = "ML batch"

In [10]:
print(std1, " is in ", batch1)
print(std2, " is in ", batch2)
print(std3, " is in ", batch1)
print(std4, " is in ", batch2)

Neeraj  is in  python batch
Ayush  is in  ML batch
Nishi  is in  python batch
Suraj  is in  ML batch

In [11]:
a=10
a

10

# What is a Variable?
##### A variable is a container that stores data in the memory of your computer.
##### a variable can contain any data type.

<font size = "8"> What is a <b>variable</b>?

In [12]:
height = 175
print(type(height))

<class 'int'>

In [13]:
height = 175.5 m
print(type(height))

SyntaxError: invalid syntax (1246475303.py, line 1)

In [ ]:
height = float(175)
print(type(height))

In [ ]:
height = 175.0
print(type(height))
print(height)

### Typecasting

In [ ]:
height = 189
print(type(height))

In [ ]:
# int --> float
height = float(height)
print(type(height))   # it converts integer into float.
print(height)

In [ ]:
height = str(height)
print(type(height))   # it converts float into str.
print(height)

In [ ]:
height = str(height)
print(type(height))  
height

In [ ]:
height = "height"
print(type(height))   
print(height)

In [ ]:
greeting = "hello world"
print(int(greeting))

In [ ]:
a = str(5)
a

In [ ]:
2abc = 12
2abc

In [ ]:
std@1 = "suhel"
std@1

In [ ]:
std2 = 5
std2

In [ ]:
Std2 = 6
std2

In [ ]:
2Std = 6
2std

In [ ]:
a = 23@5
a

# Rules for Names of Variables
- A variable name must start with an alphabet or an underscore.
- A variable name cannot start with a number or any special character(@,#,$,%,^).
- A variable name can only cobtain alphabets, numbers, and underscores.
- The use of special character in prohibited.
- variable names are case sensitive.
- python keywords cannot be used as variable names.

In [ ]:
a = 5
a = 10
print(a)
print(a)

In [ ]:
help("keywords")

In [ ]:
False = 23
print(False)

In [ ]:
import = 2
import

## Important topics related to variables.
##### 1. Storing an expression in a variable

In [ ]:
animal_1 = "c"+"a"+"t"     # "c"+"a"+"t" is an expression.
print(animal_1)
print(type(animal_1))

In [ ]:
animal_2 = "dog"
combined_animal = animal_1+animal_2 # animal_1 + animal_2 is an expression
print(combined_animal)

In [ ]:
new_variable = 12 + 34  # 12+34 is an expression
print(new_variable)

In [ ]:
animal_1 = "c"-"a"+"t"     # "c"+"a"+"t" is an expression.
print(animal_1)
print(type(animal_1))

In [ ]:
animal_1 = "c"*"a"*"t"     # "c"+"a"+"t" is an expression.
print(animal_1)
print(type(animal_1))

In [ ]:
animal_1 = "c"/"a"+"t"     # "c"+"a"+"t" is an expression.
print(animal_1)
print(type(animal_1))

In [ ]:
height = 175.2
weight = 78
bmi = weight/(height/100)**2
print(bmi)

### 2. Storing one variable to another

In [12]:
x = 56
y = x
y

56

In [13]:
var_x = 12
var_z = var_y = var_x
print(var_x)
print(var_y)
print(var_z)

12
12
12

### 3. Multiple Variable Creation

In [ ]:
std_1, std_2, std_3 = "Gaurav", "Rohit", "Kartik"
print(std_1)
print(std_2)
print(std_3)

In [ ]:
student_1 = "Gaurav"
student_2 = "Rohit"
student_3 = "Kartik"
print(student_1)
print(student_2)
print(student_3)

In [ ]:
name, age, height = "rohit", 23, 165.3
print(name,age,height)

In [ ]:
name, age, height = "rohit" 23 165.3
print(name,age,height)

In [ ]:
std_1, std_2, std_3 = "Gaurav", "Rohit" +"Sharma"+ std_1, "Kartik"
print(std_1)
print(std_2)
print(std_3)

In [ ]:
std_1, std_2, std_3 = "Gaurav", "Rohit", "Kartik"
print(std_1)
print(std_2)
print(std_3)

In [ ]:
print "std_1" + "std_2" + "std_3"

In [14]:
print("std_1"+ "std_2" + "std_3")

std_1std_2std_3

In [15]:
print = ("std_1"+ "std_2" + "std_3")
print("std_1"+ "std_2" + "std_3")

TypeError: 'str' object is not callable

In [17]:
print = 34
print(print)

TypeError: 'int' object is not callable

In [2]:
print = ("std_1"+ "std_2" + "std_3")              # funcions can also become variables.
print

'std_1std_2std_3'

In [1]:
print

In [3]:
print(5)

TypeError: 'str' object is not callable

In [4]:
print()

TypeError: 'str' object is not callable

In [6]:
print("hello world")    # yahan print func ek variable ban chuka hai ab wo func nhi raha. isliye print("hello world") bhi kaam nhi kar rha  
                        # isliye print("hello world") bhi kaam nhi kar rha kuki variable ke age bracket lagane ka[ i.e, print()] koi matlab nhi hai.

TypeError: 'str' object is not callable

### 4. Reassigning a variable

In [1]:
user1_age = 20
print(user1_age)

20

In [6]:
user1_age = 45           # here user1_age is reassigned 45 and 20 is deleted from cpu.
print(user1_age)

45

In [4]:
user1_age = "forty"
print(user1_age)

forty

### 5. Constant Variables
- to define a variable whose value we do not want to change in the whole programme, we write the name of that variable in capital letters. this is a common practice but not enforced by python i.e it is not a rule.

In [8]:
PI = 3.14   # Constant
print(PI)

3.14

it is still possible to change the value of this constant variable

### 6. Deleting Variables

In [1]:
x = 10
y = 20
z = x+y
print(z)

30

In [2]:
del x

In [ ]:
print(z) # z is independent of x and y. its existence is not depend on the existence of x and y , once z has created

### Exercise

In [16]:
# write a programme to swap the values of two variables var_1 and var_2

#var_1 = 23
#var_2 = 94

In [18]:
#var_1 = var_2
#var_2 = var_1/4
#print(var_1)
#print(var_2)

94
23.5

In [13]:
#print(var_1)
#print(var_2)

94
94

In [10]:
var_1 = 23
var_2 = 94
var_3 = 23

In [11]:
var_1 = var_2

In [12]:
var_2 = var_3

In [13]:
print(var_1)
print(var_2)

94
23

In [15]:
var_1 = 23
var_2 = 94

var_1, var_2 = var_2, var_1

print("var_1:", var_1)  
print("var_2:", var_2)

var_1: 94
var_2: 23

In [2]:
is_raining = True

In [10]:
weather_temp = 25

In [24]:
city_name = "Delhi"

In [16]:
x = True
x == 1

True

In [31]:
True_1 = "hello wolrd"

In [32]:
_ = 1234
print(_)

1234

In [33]:
# What will be the final values ?
x = 10
y = 20
x = y
y = 30
print(x, y)

20 30

In [35]:
x = "abc"
print(x)

abc

In [36]:
x = 123abs
print(x)

SyntaxError: invalid decimal literal (3850131506.py, line 1)

In [5]:
x = 100
y = 200
print(x, y)

100 200

In [6]:
y = x /2
x = y/2
print(x,y)

25.0 50.0